#chart1 {
    position: relative;
    top: 0%;
    width: 100%;
    background: white;
    height: 20%;
}

#chart2 {
    position: relative;
    background: white;
    width: 100%;
    height: 20%;
    top: 10%;
}

#chart3 {
    position: relative;
    width: 100%;
    height: 20%;
    top: 20%;
}

#chart4 {
    position: relative;
    width: 100%;
    height: 20%;
    top: 30%;
}

#mainBox {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}