/****FONTS******/
        /****ALEO******/

@font-face {
    font-family: Aleo-Bold;
    src: url(../fonts/Aleo/Aleo-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Aleo-Light;
    src: url(../fonts/Aleo/Aleo-Light.otf);
    font-weight: bold;
}

@font-face {
    font-family: Aleo-Regular;
    src: url(../fonts/Aleo/Aleo-Regular.otf);
    font-weight: bold;
}

        /****San Francisco******/

@font-face {
    font-family: SF-Display-Heavy;
    src: url(../fonts/SF/SFProDisplay-Heavy.ttf);
    font-weight: normal;
}

@font-face {
    font-family: SF-Display-Regular;
    src: url(../fonts/SF/SFProDisplay-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: SF-Display-Light;
    src: url(../fonts/SF/SFProDisplay-Light.ttf);
    font-weight: normal;
}

#headerBox {
    border-style: none;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 15%;
    padding-top: 5%;
}

#titleBox h1 {
    border-style: none;
    font-family: SF-Display-Heavy;
    position: fixed;
    left: 5%;
    
}

#line {
    position: fixed;
    top: 12%;
    left: 5%;
    right: 5%;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.7);
}