html, body {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(234, 234, 234, 25);
}


#mainBox {
    border-style: none;
    height: 100%;
}

#footerBox {
    border-style: none;
    border-color: red;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: -2px 0px 6px grey;
    z-index: 1;
}

#footerBox div {
    border-style: noen;
    max-width: 20%;
    width: 20%;
    height: 10%;
    position: fixed;
    bottom: 0px;
}

#homeBox {
    left: 0px;
}

#statsBox {
    left: 20%;
}

#addBox {
    left: 40%;
    z-index: 1;
}

#editBox {
    left: 60%;
}

#accountBox {
    left: 80%;
}

/****** BUTTONS ********/

#footerBox button {
    border-style: none;
}

#homeBtn, #homeBtn2, #homeBtn3 {
    background-color: white;
    max-width: 20%;
    max-height: 10%;
    width: 20%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 0%;
}

#homeBtn2, #homeBtn3 {
    display: none;
}

#statsBtn, #statsBtn2, #statsBtn3 {
    background-color: white;
    max-width: 20%;
    max-height: 10%;
    width: 20%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 20%;
}

#statsBtn2, #statsBtn3 {
    display: none;
}

#addBtn, #addBtn2, #addBtn3 {
    background-color: #827ffe;
    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
    position: fixed;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0px -1px 12px #827ffe;
    transform: translate(-50%, -50%);
}

#addBtn2, #addBtn3 {
    display: none;
}

#editBtn, #editBtn2, #editBtn3 {
    background-color: white;
    max-width: 20%;
    max-height: 10%;
    width: 20%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 60%;
}

#editBtn2, #editBtn3 {
    display: none;
}

#accountBtn, #accountBtn2, #accountBtn3 {
    background-color: white;
    max-width: 20%;
    max-height: 10%;
    width: 20%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 80%;
}

#accountBtn2, #accountBtn3 {
    display: none;
}

/***** ICONS *******/