#contentBox {
    border-style: none;
    position: fixed;
    top: 12%;
    height: 78%;
    width: 100%;
    left: 0%;
}
#contentBox div > button {
    position: fixed;
    width: 100%;
    border: none;
}

#contentBox div {
    border-style: none;
    position: fixed;
    left: 0;
    width: 100%;
}

#arcBox, #arcButton {
    height: 37.5%;
    max-height: 37.5%;
}

#arcBox {
    z-index: 0;
    background: url('../img/arc-wallpaper-2.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}

#arcButton {
    z-index: 3;
    border: none;
    background: linear-gradient(to bottom right, rgba(91, 93, 56, 0.5), rgba(114, 107, 89, 0.2)), url('../img/arc-wallpaper-2.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}

#blasonBox, #blasonButton, #blur2 {
    top: 49.5%;
    bottom: 10%;
}

#blasonBox {
    z-index: 0;
    background: url('../img/blason-wallpaper-3.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}

#blasonButton {
    z-index: 3;
    border: none;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(222, 226, 225, 0.2)), url('../img/blason-wallpaper-3.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}

#contentBox h3 {
    z-index: 3;
    font-size: 1.9em;
    font-family: SF-Display-Semibold;
    color: white;
}

@font-face {
    font-family: SF-Display-Semibold;
    src: url(../fonts/SF/SFProDisplay-Semibold.ttf);
    font-weight: bold;
}