@keyframes blurInAnim {
    0% {
         filter: blur(0px);
    }

    15% {
         filter: blur(1px);
    }

    30% {
         filter: blur(2px);
    }

    45% {
         filter: blur(3px);
    }

    80% {
        filter: blur(2px);
    }

    90% {
        filter: blur(1px);
    }

    100% {
        filter: blur(0px);
    }

}

@keyframes blurOutAnim {
    0% {
        filter: blur(3px);
    }

    33% {
        filter: blur(2px);
    }

    66% {
        filter: blur(1px);
    }

    100% {
        filter: blur(0px);
    }
}

#mainBox {
    border-style: none;
}

canvas {
    display: block;
    z-index: 1;
    pointer-events: none;
    position: relative;
}

.point {
    position: fixed;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
}

#target {
    z-index: 1;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
}

#target1 {
    border: solid black 1px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#subTarget1 {
    border: solid rgba(140, 140, 140, 0.9) 1px;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 305px;
    width: 305px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#target2 {
    border: none;
    background-color: rgba(0, 0, 90, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#subTarget2 {
    border: solid rgba(204, 204, 204, 0.9) 1px;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 215px;
    width: 215px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#target3 {
    border: none;
    background-color: rgba(1, 115, 228, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#subTarget3 {
    border: solid rgba(128, 191, 254, 0.9) 1px;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#target4 {
    border: none;
    background-color: rgba(216, 5, 20, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#subTarget4 {
    border: solid rgba(251, 106, 116, 0.9) 1px;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#target5 {
    border: none;
    background-color: rgba(228, 188, 2, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#subTarget5 {
    border: solid rgba(253, 226, 104, 0.9) 1px;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#subTarget6 {
    border: solid rgba(253, 226, 104, 0.9) 1px;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}