#contentBox {
    border-style: none;
    position: fixed;
    top: 0%;
    height: 90%;
    width: 100%;
    left: 0%;
}

#contentBox div > button {
    position: fixed;
    width: 100%;
    border: none;
}

#contentBox div, #contentBox div button {
    z-index: 0;
    border-style: none;
    position: fixed;
    left: 0;
    height: 45%;
    width: 100%;
}

#arcBox, #arcButton {

}

#arcButton {
    background: url('../img/laura-crowe-689639-unsplash.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
}

/*
#arcButton {
    background: linear-gradient(to bottom right, rgba(91, 93, 56, 0.5), rgba(114, 107, 89, 0.2)), url('../img/arc-wallpaper-2.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}*/

#blasonBox, #blasonButton {
    top: 45%;
}

#blasonButton {
    background: url('../img/annie-spratt-450564-unsplash.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
}

/*
#blasonButton {
    border: none;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(222, 226, 225, 0.2)), url('../img/blason-wallpaper-3.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}
*/
#contentBox h3 {
    z-index: 3;
    font-size: 1.9em;
    font-family: SF-Display-Semibold;
    color: white;
}

@font-face {
    font-family: SF-Display-Semibold;
    src: url(../fonts/SF/SFProDisplay-Semibold.ttf);
    font-weight: bold;
}