#chart1 {
    position: fixed;
    top: 16%;
    width: 100%;
    background: white;
    height: 20%;
}

#chart2 {
    position: fixed;
    background: white;
    width: 100%;
    height: 20%;
    top: 50%;
}

#chart3 {
    position: fixed;
    width: 100%;
    height: 20%;
    top: 80%;
}

#mainBox {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}