#addIcon, #arrowIcon, #quitIconRight {
    display: none;
}

#check, #quitIconLeft {
    display: block;
}

#myPost {
    border: none;
    position: fixed;
    top: 8%;
    height: 92%;
    left: 0;
    width: 100%;
    padding: 0 5%;
}

#right-btn {

    display: none;

}

#messageBox p {

    margin-top: 2%;
    margin-bottom: 2%;

}
